<div>
<h1>Name: $hero.getName()</h1>
<p>Age: $hero.getAge()</p> <br>
<p>Special Power: $hero.getSpecialPower()</p> <br>
<p>Weakness: $hero.getWeakness()</p>

<br>
<br>

<a href="/heroes/new">Add another hero</a>
<a href="/heroes">All heroes</a>
</div>
