{{#partial "content"}}
h1>Hero Squad!</h1>
<p>Assemble your Team and Save The Planet</p>

<p>Each team should have a maximum of 5 superheroes</p>
<p> Remember, the fate of the planet is in your hands. <br>
And finally, May the force be with you.</p>



</div>
{{/partial}}
{{> layout.hbs}}